<div class="container-section">
	<h1 class="text-center text-uppercase bs-font fantasy alert alert-danger">proyectos</h1>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 g-4">
  			<div class="col" *ngFor="let p of proyectos">
   			 	<div class="card">
      				<img src="{{p.img}}" class="card-img-top" alt="...">
     		 		<div class="card-body">
        				<h5 class="card-title">{{p.title}}</h5>
        				<p class="card-text">{{p.description}}</p>
        				<a [ngClass]="'float-right'" [routerLink]="['/detail', p.id]" >Ver mas.. </a>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
</div>
